# Server Configuration
PORT=5000
NODE_ENV=development

MONGODB_USERNAME="sharmin76_db_user"
MONGODB_PASSWORD="FRWXSHest8y0xSyn"
MONGODB_URI="mongodb+srv://sharmin76_db_user:FRWXSHest8y0xSyn@cluster0.9fk3w96.mongodb.net"

# JWT Authentication Secret
JWT_SECRET=PtEVdkl2z00xKkm9Sh56JM0eenf2NW84ntgi6A0C44c
JWT_EXPIRES_IN=7d
